.filterBygame {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.selectgame-filter select {
  padding: 5px 15px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
.nameofgame {
  font-size: 18px;
  font-weight: 600;
}
