.navbar-logo {
  height: 50px;
  cursor: pointer;
}
.navbar {
  width: 300px;
  position: fixed;
  height: 90%;
  padding: 20px;
  background-color: white;
  margin: 30px;
  border-radius: 6px;
}
.navbar-menu {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}
.navbar-menu li {
  padding: 10px 0px;
}
.navbar-menu a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.navbar-menu a:hover {
  color: #6a933e;
}
