.navbar-logo {
  display: flex;
  gap: 20px;
}
.navbar-logo-img {
  height: 50px;
  cursor: pointer;
}
.navbar-logo-title {
  font-family: "Jaro", sans-serif;
  font-size: 30px;
}
.navbar {
  width: 360px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: 95%;
  padding: 50px;
  margin-left: 25px;
  border-radius: 50px;
  /* background: var(--background-color); */
  background: rgba(160, 160, 160, 0.21);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.navbar-menu {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}
.navbar-menu li {
  padding: 10px 0px;
}
.navbar-menu a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.navbar-menu a:hover {
  color: #6a933e;
}
