.profile-page {
  /* display: flex;
  gap: 25px;
  border-radius: 10px; */
  /* padding: 25px; */
  margin-left: 300px;
}
.profile-First-lineinfo {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #6a933e;
}
.profile-First-lineinfo span {
  background-color: #5d2f2d;
  padding: 0px 5px;
  border-radius: 6px;
  font-size: 24px;
}
.profile-info-username {
  font-size: 30px;
  font-weight: 800;
}
.profile-info-name {
  font-size: 20px;
  margin-top: 15px;
}
.profile-info-lastline {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  gap: 100px;
}
.profile-info-lastline div {
  text-align: center;
}
.profile-page-image img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}
/* grid system  */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 3fr);
  gap: 5px;
  /* margin-top: 30px; */
  padding-top: 35px;
}
.card-box1 img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}
.card-box1 {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 20px;
}
.card-box2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: yellow;
  border-radius: 20px;
  padding: 10px;
}
.card-box3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: blue;
  border-radius: 20px;
  padding: 10px;
}
.card-box4 {
  grid-area: 1 / 4 / 3 / 5;
  background-color: yellowgreen;
  border-radius: 20px;
  padding: 10px;
}
.card-box5 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: violet;
  border-radius: 20px;
  padding: 10px;
}
.card-box6 {
  grid-area: 2 / 2 / 3 / 4;
  background-color: #5d2f2d;
  border-radius: 20px;
  padding: 10px;
}
